@CHARSET "ISO-8859-1";

/********************** BACKGROUNDS **********************/
.BaseBackground{
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 75% , radius 50% , silver, aliceblue); 
}

.titleBarBackground{ 
    -fx-background-color:linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);   
}

.listBackground{ 
    -fx-background-color:linear-gradient(#2a2b2a 0%, #505250 50%);
}

.VersionBackground{
    -fx-stroke: dodgerblue;
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 75% , radius 85% , white ,darkgrey);   
}

/********************** FONT SIZES **********************/
.Xlfont{
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 45pt;
}

.largefont{
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 32pt;
}

.mediumfont{
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 19pt;
}

.smallfont{
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 14pt;
}

/********************** FONT COLURS **********************/
.fontWhite{
    -fx-fill: white;
    -fx-opacity: 0.9;
    -fx-text-fill: white;
}

.fontBlack{
    -fx-fill: black;
    -fx-opacity: 0.9;
}

.fontRed{
    -fx-text-fill: red;
    -fx-opacity: 0.9;
}

.fontGreen{
    -fx-text-fill: darkgreen;
    -fx-opacity: 0.9;
}

.fontBlue{
    -fx-text-fill: dodgerblue;
    -fx-opacity: 0.9;
}

.fontEffect{
    -fx-fill: grey;
    -fx-opacity: 0.9;
}

/********************** SEPERATOR **********************/
.separator *.line {
    -fx-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/********************** SHADOW WHEN BUTTON HOVERED **********************/
.button:hover {
    -fx-effect: dropshadow( three-pass-box , black , 10, 0.0 , 0 , 1 );
}

/********************** LOAD OPTION RECTANGLES **********************/
.FDLoad {
    -fx-fill:
        linear-gradient(#b8ee36, #80c800),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-color:
        linear-gradient(#b8ee36, #80c800),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;  
}

.serverLoad {
    -fx-fill:
        linear-gradient(skyblue, dodgerblue),
        radial-gradient(center 50% -40%, radius 200%, skyblue 45%, dodgerblue 50%);
    -fx-background-color:
        linear-gradient(skyblue, dodgerblue),
        radial-gradient(center 50% -40%, radius 200%, skyblue 45%, dodgerblue 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.tpiLoad {
    -fx-fill:
        linear-gradient(violet, darkmagenta),
        radial-gradient(center 50% -40%, radius 200%, violet 45%, darkmagenta 50%);
    -fx-background-color:
        linear-gradient(violet, darkmagenta),
        radial-gradient(center 50% -40%, radius 200%, violet 45%, darkmagenta 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.xmlLoad {
    -fx-fill:
        linear-gradient(gold, darkgoldenrod),
        radial-gradient(center 50% -40%, radius 200%, gold 45%, darkgoldenrod 50%);
    -fx-background-color:
        linear-gradient(gold, darkgoldenrod),
        radial-gradient(center 50% -40%, radius 200%, gold 45%, darkgoldenrod 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

/********************** JOB GROUPS **********************/
.ongoingJobsVBox{
    -fx-background-color: linear-gradient(from 90% 90% to 100% 100%, transparent, dodgerblue);
}

.completedJobsVBox{
    -fx-background-color: linear-gradient(from 90% 90% to 100% 100%, transparent, #80c800);
}

.errorJobsVBox{
    -fx-background-color: linear-gradient(from 90% 90% to 100% 100%, transparent, red);
}


/********************** LOADED TABLE **********************/
.table-view .column-header .label { 
    -fx-font: 15px "Segoe UI Light";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#2a2b2a 0%, #505250 50%);
    -fx-padding: 0;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: linear-gradient(#2a2b2a 0%, #505250 50%);
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

/********************** TABS  **********************/
.tab {
    -fx-background-color: #393939;
    -fx-border-color: #282828;
    -fx-border-width: 0;
    -fx-padding: 1 8;
}

.tab .tab-label {
    -fx-font: 15px "Segoe UI Light";
    -fx-text-fill: white;
}

.tab-close-button:hover {
    -fx-background-color: derive(white, -30%);
}

.tab:selected {
    -fx-background-color: dodgerblue;
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}

/********************** BUTTONS ON HOME PAGE UNDER TABLE **********************/
.buttonStyle {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}


/********************** CHECK BOXES **********************/
.check-box:selected .mark {
    -fx-background-color:dodgerblue;
}

/********************** RADIO BUTTONS **********************/
.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 3px;
}
.radio-button:selected .dot {
    -fx-background-color: -fx-mark-highlight-color, dodgerblue;
}

.radio-button:selected .radio { 
  -fx-color: dodgerblue;
}


/********************** LOAD OPTION RECTANGLES **********************/
.titled-pane .title {
    -fx-alignment: center;  
    -fx-cursor: "hand";
    -fx-font-size: 12pt;   
    -fx-font-weight: bold;            
    -fx-text-fill: black; 
    -fx-background-color:  
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);  
}

/********************** ACCORDIAN PANES (DRT OPTIONS) **********************/
.titled-pane:expanded .title {
    -fx-text-fill: black;    
}
.titled-pane:focused .title {
    -fx-text-fill: black;    
}

/********************** PANES THAT LOAD A SCROLL BAR **********************/
.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane > * > .scroll-bar:horizontal {
    -fx-background-insets: 0,1 0 0 0;
    -fx-padding: 0;
}
.scroll-pane > * > .scroll-bar:horizontal .increment-button ,.scroll-pane > * > .scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 6 0 5 0;
}
.scroll-pane > * > .scroll-bar:horizontal .thumb {
    -fx-background-insets: 3 3 2 3;
}
.scroll-pane > * > .scroll-bar:vertical {
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0;
}
.scroll-pane > * > .scroll-bar:vertical .increment-button ,.scroll-pane > * > .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 0 5 0 6;
}
.scroll-pane > * > .scroll-bar:vertical .thumb {
    -fx-background-insets: 3 2 3 3;
}
